/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */
body {
	display: flex;
	margin: 0;
	padding: 0;
}
nav {
	flex-basis: 20%;
}
header,
footer {
	height: 100px;
}
.main {
	flex-grow: 1;
}