/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */
.main {
	display: flex;
}
header,
footer {
	height: 100px;
}
body {
	margin: 0;
	padding: 0;
}
aside,
nav {
	flex-basis: 20%;
}
article {
	display: flex;
	flex-grow: 1;
}